@model FitnessHub.Web.ViewModels.Equipments.EquipmentsIndexViewModel;

@{
    this.ViewData["Title"] = "All Equipments";
}

<h1 class="display-2 main__heading"><b>Equipments Page @Model.PageNumber</b></h1>
<div class="services__content container d-flex flex-column">
    <div class="services__model text-center row">
        <div class="col"></div>
        <h4 class="col">Name:</h4>
        <h4 class="col">Price:</h4>
        <div class="col"></div>
    </div>
    @foreach (var equipment in Model.Equipments)
    {
        <div class="entity text-center row align-items-center item__image__container align-self-center">
            <div class="col">
                <img src="@Url.Content(equipment.ImageUrl)" class="w-100 h-100">
            </div>
            <h4 class="col">@equipment.Name</h4>
            <h4 class="col">@equipment.Price lv.</h4>
            <div class="col">
                <a class="btn btn-primary" role="button" asp-controller="Equipments" asp-action="Details" asp-route-equipmentId="@equipment.Id" asp-route-page="@Model.PageNumber">View</a>
            </div>
        </div>
    }
</div>
<a class="btn btn-primary w-25 add-item" role="button" asp-area="" asp-controller="Equipments" asp-action="Add">Add Equipment</a>
<a class="btn btn-primary w-25 add-item" role="button" asp-area="" asp-controller="Home" asp-action="GoToHome">Go to home</a>

<partial name="_PagingPartial" model="@Model" />