@model FitnessHub.Web.ViewModels.TrainingSchedular.AddExerciseInputModel
@{
    this.ViewData["Title"] = "Edit Exercise";
    int pageNum = Convert.ToInt32(this.ViewContext.HttpContext.Request.Query["page"]);
    int exerciseId = Convert.ToInt32(this.ViewContext.HttpContext.Request.Query["exerciseId"]);
    int trainingId = Convert.ToInt32(this.ViewContext.HttpContext.Request.Query["trainingId"]);
    int programId = Convert.ToInt32(this.ViewContext.HttpContext.Request.Query["programId"]);
    var muscleGroupItems = this.Model.MuscleGroupsItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-section text-center">
                <div class="leave-comment">
                    <h2 class="text-white form-heading-2">Edit Exercise</h2>
                    <form method="post" asp-action="EditExercise" asp-controller="TrainingSchedular" asp-route-programId="@programId" asp-route-trainingId="@trainingId" asp-route-exerciseId="@exerciseId" asp-route-page="@pageNum">
                        <div>
                            <input asp-for="@Model.Name" type="text" placeholder="Name" required>
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="@Model.Sets" type="number" placeholder="Sets">
                            <span asp-validation-for="@Model.Sets" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="@Model.Reps" type="number" placeholder="Reps" required>
                            <span asp-validation-for="@Model.Reps" class="text-danger"></span>
                        </div>
                        <div class="dropdown-exercise">
                            <select asp-for="@Model.MuscleGroupId" class="form-control" asp-items="muscleGroupItems"></select>
                            <span asp-validation-for="@Model.MuscleGroupId" class="text-danger"></span>
                        </div>
                        <button type="submit" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
