@model FitnessHub.Web.ViewModels.Orders.CardValidationModel

@{
    this.ViewData["Title"] = "Card Details";
    var totalPrice = Convert.ToDecimal(this.ViewContext.HttpContext.Request.Query["price"]);
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-section text-center">
                <div class="leave-comment">
                    <h2 class="text-white form-heading-2">Card Details</h2>
                    <form method="post" asp-action="CardDetails" asp-controller="Orders" asp-route-price="@totalPrice">
                        <div class="credit-card">
                            <div class="credit-card-header">
                                <strong>Credit Card</strong>
                                <small>enter your card details</small>
                            </div>
                            <div class="credit-card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Name"></label>
                                            <input class="form-control" type="text" asp-for="@Model.Name" placeholder="Enter your name" />
                                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="ccnumber">Credit Card Number</label>
                                            <div class="input-group">
                                                <input class="form-control" type="text" asp-for="@Model.CardNumber" placeholder="0000 0000 0000 0000" autocomplete="email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="far fa-credit-card"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.CardNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="ccmonth">Month</label>
                                        <select class="form-control" id="ccmonth">
                                            @for (int i = 1; i <= 12; i++)
                                            {
                                                <option>@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="ccyear">Year</label>
                                        <select class="form-control" id="ccyear">
                                            @for (int i = 2014; i <= 2025; i++)
                                            {
                                                <option>@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cvv">CVV/CVC</label>
                                            <input class="form-control" id="cvv" type="text" asp-for="@Model.SecurityCode" placeholder="123">
                                            <span asp-validation-for="@Model.SecurityCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group d-flex align-items-center justify-content-between m-0">
                                    <a class="btn btn-danger float-left" role="button" asp-area="" asp-controller="Orders" asp-action="CardDetails" asp-route-price="@totalPrice">Reset</a>
                                    <button type="submit" class="btn btn-orange float-right w-25">Countinue</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </section>
