@model FitnessHub.Web.ViewModels.Services.ServiceInputModel

@{
    this.ViewData["Title"] = "Add Service"; 
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-section text-center">
                <div class="leave-comment">
                    <h2 class="text-white form-heading-2">Add Service</h2>
                    <form method="post" asp-action="Add" asp-controller="Services">
                        <div>
                            <input asp-for="@Model.Name" type="text" placeholder="Name" required>
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="@Model.Price" type="number" placeholder="Price" />
                            <span asp-validation-for="@Model.Price" class="text-danger"></span>
                        </div>
                        <div>
                            <textarea asp-for="@Model.Description" type="textarea" placeholder="Description"></textarea>
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <button type="submit" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>