@model FitnessHub.Web.ViewModels.Services.ServicesIndexViewModel

@{
    this.ViewData["Title"] = "All Services";
}

<h1 class="display-2 main__heading"><b>Services Page @Model.PageNumber</b></h1>
<div class="services__content container d-flex flex-column">
    <div class="services__model text-center row">
        <h4 class="col">Name:</h4>
        <h4 class="col">Author:</h4>
        <h4 class="col">Published On:</h4>
        <div class="col"></div>
    </div>
    <div class="service__entities">
        @foreach (var service in Model.Services)
        {
            <div class="entity text-center row align-items-center">
                <h4 class="col">@service.Name</h4>
                <h4 class="col">@service.Author.UserName</h4>
                <h4 class="col">@service.CreatedOn</h4>
                <div class="col">
                    <a class="btn btn-primary" role="button" asp-controller="Services" asp-action="Details" asp-route-serviceId="@service.Id" asp-route-page="@Model.PageNumber">View</a>
                </div>
            </div>
        }
    </div>
</div>
<a class="btn btn-primary w-25 add-item" role="button" asp-area="" asp-controller="Services" asp-action="Add">Add Service</a>
<a class="btn btn-primary w-25 add-item" role="button" asp-area="" asp-controller="Home" asp-action="GoToHome">Go to home</a>

<partial name="_PagingPartial" model="@Model" />