@model FitnessHub.Web.ViewModels.Services.ServiceDetailsViewModel

@{
    this.ViewData["Title"] = "Service Details";
}

<main>
    <div class="text-center">
        <h3 class="details__heading"><b>Service Details</b></h3>
        <div class="view__chars d-flex flex-column align-items-center">
            <h6>Name:</h6>
            <p>@Model.Name</p>
            <h6>Price:</h6>
            <p>@Model.Price lv.</p>
            <h6>Description:</h6>
            <div class="details__description">
                <p class="text-center">@Model.Description</p>
            </div>
            <div class="details__form d-flex justify-content-around">
                <a class="btn btn-outline-primary w-25" role="button" asp-area="" asp-controller="Services" asp-action="Return">Return</a>
                <a class="btn btn-outline-info w-25" role="button" asp-area="" asp-controller="Services" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <form method="post" asp-controller="Services" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" value="Delete" class="btn btn-outline-danger" />
                </form>
            </div>
        </div>
    </div>
</main>