@model FitnessHub.Web.ViewModels.Cart.CartItemsViewModel

@{
    this.ViewData["Title"] = "Cart";
}

<section class="breadcrumb-section set-bg" data-setbg="images/mycart-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>My Cart</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section spad items-section mycart-section">
    <div class="services__content container d-flex flex-column">
        @foreach (var equipment in Model.Equipments.OrderBy(x => x.Name))
        {
            <section class="aboutus-section item-section">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-6 p-0">
                            <div class="about-video">
                                <img src="@Url.Content(equipment.ImageUrl)" class="w-100 h-100">
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="about-text d-flex flex-column shop-item-sizing justify-content-center">
                                <div class="section-title text-center item-about">
                                    <span>About</span>
                                    <h2>@equipment.Name</h2>
                                </div>
                                <div class="at-desc item_description">
                                    <p>
                                        @equipment.Description
                                    </p>
                                </div>
                                <div class="about-bar">
                                    <div class="ab-item">
                                        <h4 class="text-white">Price: @equipment.Price lv.</h4>
                                    </div>
                                    <div class="ab-item">
                                        <h4 class="text-white">Quantity: @equipment.Quantity</h4>
                                    </div>
                                </div>
                                <div class="leave-comment">
                                    <form method="post" class="shop-item-button" asp-controller="MyCart" asp-action="RemoveEquipmentFromCart" asp-route-equipmentId="@equipment.Id">
                                        <button type="submit" id="submit">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @foreach (var suplement in Model.Suplements.OrderBy(x => x.Name))
        {
            <section class="aboutus-section item-section">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-6 p-0">
                            <div class="about-video">
                                <img src="@Url.Content(suplement.ImageUrl)" class="w-100 h-100">
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="about-text d-flex flex-column shop-item-sizing justify-content-center">
                                <div class="section-title text-center item-about">
                                    <span>About</span>
                                    <h2>@suplement.Name</h2>
                                </div>
                                <div class="at-desc item_description">
                                    <p>
                                        @suplement.Description
                                    </p>
                                </div>
                                <div class="about-bar">
                                    <div class="ab-item">
                                        <h4 class="text-white">Price: @suplement.Price lv.</h4>
                                    </div>
                                    <div class="ab-item">
                                        <h4 class="text-white">Weight: @suplement.Weight grams</h4>
                                    </div>
                                    <div class="ab-item">
                                        <h4 class="text-white">Quantity: @suplement.Quantity</h4>
                                    </div>
                                </div>
                                <div class="leave-comment">
                                    <form method="post" class="shop-item-button" asp-controller="MyCart" asp-action="RemoveSuplementFromCart" asp-route-suplementId="@suplement.Id">
                                        <button type="submit" id="submit">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.TotalPrice > 0)
        {
            <h2 class="text-right mb-md-4">Total: @Model.TotalPrice lv.</h2>
        }
        else
        {
            <h2 class="text-center">Your cart is empty</h2>
        }
        </div>
    <div class="d-flex justify-content-around">
        <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Home" asp-action="GoToHome">Go to home</a>
        @if (Model.TotalPrice > 0)
        {
            <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Orders" asp-action="CardDetails" asp-route-totalPrice="@Model.TotalPrice">Proceed to checkout with card</a>
            <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Orders" asp-action="StripePaymentDetails" asp-route-totalPrice="@Model.TotalPrice">Proceed to checkout with stripe</a>
        }
        else
        {
            <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Equipments" asp-action="Index" asp-route-page="1">Equipments</a>
            <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Suplements" asp-action="Index" asp-route-page="1">Suplements</a>
        }
    </div>
</section>